{
    "endpoint":"oss-cn-hongkong.aliyuncs.com",
    "accesskeyid":"REPLACE_WITH_OSS_ACCESS_KEY_ID",
    "accesskeysecret":"REPLACE_WITH_OSS_ACCESS_KEY_SECRET",
    "bucketname":"airudder-backup",
    "endpoint2":"oss-ap-southeast-5.aliyuncs.com",
    "accesskeyid2":"REPLACE_WITH_OSS_ACCESS_KEY_ID",
    "accesskeysecret2":"REPLACE_WITH_OSS_ACCESS_KEY_SECRET",
    "bucketname2":"airudder-backup-jkt",
    "endpointfra":"oss-eu-central-1.aliyuncs.com",
    "accesskeyidfra":"REPLACE_WITH_OSS_ACCESS_KEY_ID",
    "accesskeysecretfra":"REPLACE_WITH_OSS_ACCESS_KEY_SECRET",
    "bucketnamefra":"airudder-backup-fra",
    "ossfilepath":"wav",
    "localrecordingfilepath":"/mnt/data/rap/recording",
    "localreportfilepath":"/mnt/data/rap/report",
    "recordingUrl": "https://test-rap.airudder.com/recording/",
    "downloadUrl": "https://test-rap.airudder.com/report/"
}
