#ServiceRoot: service discovery root path
ServiceRoot = /rap_backend.voiptob.airudder.cn

#LogLevel: trace debug info warn error critical
LogLevel = debug

#LogToSTD: the log output to std, true or false
LogToSTD = false

#LogFile: the log file store
LogFile = /Users/bz/airudder/rap_backend/log/rap_backend.log

#CfgRoot: the config root path
CfgRoot = /Users/bz/airudder/rap_backend/docker/rap_backend/release/etc_bak/

NodeName = rap_backend_1